---
const logos = [
  { src: "images/logos/unilever.png", alt: "Unilever Logo" },
  { src: "images/logos/adidas.png", alt: "Adidas Logo" }, 
  { src: "images/logos/hsbc.png", alt: "HSBC Logo" },
   { src: "images/logos/ubs.png", alt: "UBS Logo" }, 
  { src: "images/logos/shell.png", alt: "Shell Logo" },  
  { src: "images/logos/prada.png", alt: "Prada Logo" },
  { src: "images/logos/mercedes-benz.png", alt: "Mercedes-Benz Logo" },
  { src: "images/logos/bnp-paribas.png", alt: "BNP Paribas Logo" },
  { src: "images/logos/carlsberg-logo.png", alt: "Carlsberg Logo" },
  { src: "images/logos/ericsson.png", alt: "Ericsson Logo" },
  { src: "images/logos/nestle.png", alt: "Nestle Logo" },  
  { src: "images/logos/loreal.png", alt: "L'Oreal Logo" },
  { src: "images/logos/bmw.png", alt: "BMW Logo" },
  { src: "images/logos/aldi-nord-logo.png", alt: "Aldi Nord Logo" },
  { src: "images/logos/allianz.png", alt: "Allianz Logo" },
    { src: "images/logos/lego.png", alt: "Lego Logo" },
{ src: "images/logos/lvmh.png", alt: "Louis Vuitton Logo" },
  
  { src: "images/logos/ikea.png", alt: "Ikea logo" },
  
];

interface Benefit {
    title: string;
    description: string;
    additionalText?: string;
}

interface Opportunity {
    text: string;
}

const benefits: Benefit[] = [
    {
        title: "Robust growing IT Market driven by digital transformation.",
        description: "IT spending expected to grow 9% in 2025",
    },
    {
        title: "Large pool of very skilled workforce.",
        description: "Large pool of very skilled workforce.",
    },
    {
        title: "Significant number of global brands.",
        description: "25% of Top 100 global brands",
    },
    {
        title: "Borderless market of 27 EU countries.",
        description:
            "EU GDP representing one-sixth of global economy and 14% of world’s trade",
    },
    {
        title: "More major economies within your reach.",
        description: "UK, Switzerland, Denmark",
    },
];

const opportunities: Opportunity[] = [
    { text: "Capitalize on significant growth potential." },
    { text: "Hedge against turndowns in your home market." },
    { text: "Better position your company to sell to global accounts." },
    { text: "Improve regional market penetration with a European team." },
    { text: "Elevate your brand onto the global stage." },
    { text: "Access an international talent pool." },
];
---

<div class="mx-auto mt-12 max-w-7xl sm:px-6">
    <div id="benefits" class="mx-auto mt-16 sm:mt-20 lg:mt-24 lg:max-w-6xl">
        <dl
            class="grid max-w-xl grid-cols-1 gap-x-16 gap-y-16 lg:max-w-none lg:grid-cols-2"
        >
            <div id="logos" class="relative">
                <div
                class="rounded-xl p-8 ring-1 ring-gray-900/10 sm:p-10 relative bg-[#F2F5F7] text-center"
              >
                <div class="grid grid-cols-4 gap-8">
                  {logos.map((logo, index) => (
                    <div
                      class={`flex items-center justify-center ${
                        index >= 16 ? "col-span-2" : ""
                      }`}
                    >
                      <img
                        src={logo.src}
                        alt={logo.alt}
                        class="w-15 h-15 object-fill"
                      />
                    </div>
                  ))}
                </div>
              </div>
            </div>
            <div class="relative">
                <div class="mx-auto">
                    <h2
                        class="mb-4 text-4xl font-black font-stretch-extra-expanded text-gray-900"
                    >
                        European Market Benefits
                    </h2>
                </div>
                <dt class="leading-7 text-gray-900">
                    <div class="space-y-4">
                        {
                            benefits.map((benefit) => (
                                <div class="flex items-start">
                                    <span class="mr-4 flex-shrink-0">
                                        <img
                                            src="images/check_circle.png"
                                            alt="Check"
                                            class="w-6 h-6"
                                        />
                                    </span>
                                    <p class="text-gray-900 text-lg font-bold">
                                        {benefit.title}
                                        {benefit.description && (
                                            <span class="block text-[#B6CB23] mt-2 text-sm font-normal">
                                                {benefit.description}
                                            </span>
                                        )}
                                    </p>
                                </div>
                            ))
                        }
                    </div>
                </dt>
            </div>
        </dl>
    </div>

    <div id="opportunities" class="mx-auto mt-16 max-w-6xl">
        <div class="grid grid-cols-1 gap-x-16 gap-y-16 lg:mx-auto lg:grid-cols-2">
            <div class="relative">
                <div class="mx-auto max-w-5xl">
                    <h2 class="py-4 text-4xl font-bold text-gray-900">
                        Your Company’s Opportunities
                    </h2>
                </div>
                <dt class="text-lg font-semibold leading-7 text-gray-900">
                    <ul class="space-y-6">
                        {
                            opportunities.map((opportunity) => (
                                <li class="flex items-start">
                                    <span class="mr-4 flex-shrink-0">
                                        <img
                                            src="images/check_circle_green.png"
                                            alt="Check"
                                            class="w-6 h-6"
                                        />
                                    </span>
                                    <p class="text-gray-900">
                                        {opportunity.text}
                                    </p>
                                </li>
                            ))
                        }
                    </ul>
                </dt>
            </div>
            <div class="relative">
                <img
                    class="relative inset-0 h-full w-full object-cover rounded-2xl"
                    src="images/balcony.png"
                    alt="Balcony"
                />
            </div>
        </div>
    </div>
</div>
